<h3>Company panel:</h3>
<br>
<div>
  <a routerLink="../add-company">Add company</a>
  <br>
  <a routerLink="../update-company">Update company</a>
  <br>
  <a routerLink="../delete-company">Delete company</a>
  <br>
  <a routerLink="../get-one-company">Get one company</a>
  <br>
  <a routerLink="../get-all-companies">Get all companies</a>
</div>
<br>
<h3>Customer panel:</h3>
<br>
<div>
  <a routerLink="../add-customer">Add customer</a>
  <br>
  <a routerLink="../update-customer">Update customer</a>
  <br>
  <a routerLink="../delete-customer">Delete customer</a>
  <br>
  <a routerLink="../get-one-customer">Get one customer</a>
  <br>
  <a routerLink="../get-all-customers">Get all customers</a>
</div>
